rules:
  indent:
    - 2
    - 4
    - SwitchCase: 1
  quotes:
    - 2
    - single
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
  comma-dangle:
    - 2
    - always-multiline
  no-unused-vars:
    - 1
    -
      vars: all
      args: after-used
  react/prop-types: 1
  react/display-name: 1
env:
  es6: true
  browser: true
  commonjs: true
extends:
  - 'eslint:recommended'
  - 'plugin:react/recommended'
parserOptions:
  ecmaFeatures:
    jsx: true
ecmaFeatures:
  experimentalObjectRestSpread: true
plugins:
  - react
globals:
  errorLog: false
parser: babel-eslint
